*{
  box-sizing: border-box;
}
body{
  background-color: lightgrey;
  margin: 0;
  font-family: sans-serif;
  padding: 30px;

}
.title{
  background-color: lightblue;
  text-align: center;
    border-radius: 10px;
}
.title h1{
  margin:0;
  font-size: 2rem;
}
.pick{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  height: 300px;
  background-color: lightblue;
    border-radius: 10px;
}
.userSelect{
  display: flex;
  justify-content: center;
  align-items: center;

}
.item{
  width: 100px;
  height:100px;
  /* background-color: lightgrey; */
  border:solid 1px black;
  margin:40px 20px 0;


}
.item>img{
  width: 100%;
  height: 100%;
}
.item:hover{
  box-shadow: -4px 4px 4px 1px rgba(0,0,0, 0.1), -4px -4px 4px 1px rgba(0,0,0, 0.1) ;
}
.output{
    border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
  height: 300px;
  background-color: lightblue;
}
h5{
  margin:0;
}
.output>h2{
  margin-bottom: 0;
}
